page-feed {
    .example {
        font-size: 1.25rem;
        color: red;
    }
    h2.feed_name {
        color: lightblue;
        font-family: sans-serif;
    }
    p.feed_date {
        color: lightslategrey;
    }
}
